<div class="d-flex flex-column flex-shrink-0 p-3" style="min-height: 100vh;">
  <div class="delay-box mb-5">
    <p class="delay-text">Messages probably will take <strong><em>1</em> minutes <em>10</em> second to deliver</strong></p>
  </div>
    <ul class="indicators-wrap nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-5">
        <div class="d-flex justify-content-between mb-2">
          <div>Inertial Velocity</div>
          <div>7.68 km/s</div>
        </div>
        <div class="progress" style="height: 6px;">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item mb-5">
        <div class="d-flex justify-content-between mb-2">
          <div>Altitude</div>
          <div>1.681 mkm</div>
        </div>
        <div class="progress" style="height: 6px;">
          <div class="progress-bar" role="progressbar" style="width: 22%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item mb-5">
        <div class="d-flex justify-content-between mb-2">
          <div>Apogee</div>
          <div>7.68</div>
        </div>
        <div class="progress" style="height: 6px;">
          <div class="progress-bar" role="progressbar" style="width: 12%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item mb-5">
        <div class="d-flex justify-content-between mb-2">
          <div>Range to Mars</div>
          <div>23.02 mkm</div>
        </div>
        <div class="progress" style="height: 6px;">
          <div class="progress-bar" role="progressbar" style="width: 2%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>

    </ul>
    <hr>
    <div>
      <a href="#" class="d-flex align-items-center text-white text-decoration-none">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
    </div>
  </div>