<div class="main-body d-flex flex-column flex-shrink-0" style="min-height: 100vh; position: relative;">


<header class="p-3" style="height: 10vh;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

			<div class="d-flex">
                    <div class="me-2" style="width: 40px">
                        <img src="https://webvitals.se/uploads/users/2022-05-10_627abeca7a74e_6f8f84517b6065395a22f0946914114e091e51a0.png" alt="" class="img-fluid chat-header-img">
                    </div>
                    <div class="name pl-3">
                        <h5 class="my-0 chat__area-title contact-title">Savitar
                        <span class="time">
                        	Time: 12.45 AM
                        </span>
                        </h5>
                    </div>
                </div>

      </div>
    </div>
  </header>

  <section class="massages flex-column mb-auto" style="height: 65vh;">
  	<div class="wrap m-5">
  		<div class="message received-message mb-5 d-flex justify-content-between">

		  	<div class="">
		        <img src="/assets/image.png" alt="" width="32" height="32" class="rounded-circle me-2" />
		    </div>

	  		<div class="message-body">
	  			<div class="message-content p-4">Proin placerat consectetur ipsum, vitae maximus ante faucibus sed. Sed placerat tortor a ex pulvinar sagittis. Sed faucibus lorem nibh, eu maximus mi rutrum ut. Fusce sollicitudin.
	  			</div>
	  			<div class="message-meta d-flex justify-content-between p-4">
	  				<div class="meta">Probably sent 24 MInutes ago</div>
	  				<div class="meta">Message received 3 Min 11 Sec ago</div>
	  			</div>
	  		</div>
	  	</div>

  		<div class="message sent-message flex-row-reverse mb-5 d-flex justify-content-between">
		  	<div class="">
		        <img src="/assets/image.png" alt="" width="32" height="32" class="rounded-circle me-2" />
		    </div>

	  		<div class="message-body">
	  			<div class="message-content p-4">Proin placerat consectetur ipsum, vitae maximus ante faucibus sed. Sed placerat tortor a ex pulvinar sagittis. Sed faucibus lorem nibh, eu maximus mi rutrum ut. Fusce sollicitudin.
	  			</div>
	  			<div class="message-meta d-flex justify-content-between p-4">
	  				<div class="meta"><span class="notify-green">Seen</span> 5 Min 03 Sec ago</div>
	  				<div class="meta">Probably delivered 8 Min 23 Sec ago</div>
	  			</div>
	  		</div>
	  	</div>

  		<div class="message sent-message flex-row-reverse mb-5 d-flex justify-content-between">
		  	<div class="">
		        <img src="/assets/image.png" alt="" width="32" height="32" class="rounded-circle me-2" />
		    </div>

	  		<div class="message-body">
	  			<div class="message-content p-4">Proin placerat consectetur ipsum, vitae maximus ante faucibus sed. Sed placerat tortor a ex pulvinar sagittis. Sed faucibus lorem nibh, eu maximus mi rutrum ut. Fusce sollicitudin.
	  			</div>
	  			<div class="message-meta p-4">
	  				<div class="d-flex justify-content-between">
		  				<div class="meta sening"><span class="notify-green">Sending</span></div>
		  				<div class="meta">Approximate time of delivery - 3 Min 10 Sec</div>
		  			</div>
		  			<div class="progress mb-1" style="height: 3px;">
					  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
	  			</div>

	  		</div>
	  	</div>

  	</div>
  </section>

  <section class="send position-absolute bottom-0 start-0 ml-5 mr-5" style="height: 25vh;">

	<form>
		<div class="media">
			<ul class="d-flex justify-content-start">
				<li><a href="#"><img src="/assets/send-text.png" alt="Text" /></a></li>
				<li><a href="#"><img src="/assets/send-image.png" alt="Image" /></a></li>
				<li><a href="#"><img src="/assets/send-audio.png" alt="Audio" /></a></li>
			</ul>
		</div>
		<div class="d-flex justify-content-between">
		  <textarea class="form-control message-typing" id="exampleFormControlTextarea1" rows="3" placeholder="Type message"></textarea>
		  <button type="submit" class="submit-btn btn btn-primary"></button>
		</div>
		<p class="delay-text">Approximate deliver time <strong><em>1</em> minutes <em>10</em> second</strong></p>
	</form>

  </section>


</div>

